html,
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  height: 100%;
  width: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0;
  --background-blue: #b5e8fb;
  --background-purple: #f9dbff;
  --grey: #34495e;
  --dark-grey: #212f3d;
  --light-grey: #7796b3;
  --white: #f5f5f5;
  --red: #db454f;
  --yellow: #fccf52;
  --dark-yellow: #efbb42;
  --dark-blue: #2c2168;
  --shadow-blue: #20184e;
}

h1 {
  text-align: center;
}

/* navbar */

ul {
  font-size: 20px;
  font-weight: bolder;
  list-style: square;
  gap: 20px;
}

a {
  text-decoration: none;
  color: #20184e;
  cursor: pointer;
}

a:hover {
  color: var(--red);
}

/* smiling face */

.smiling-face {
  background: var(--background-purple);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.head {
  position: absolute;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background: var(--yellow);
  box-shadow: inset -20px -20px 10px var(--dark-yellow);
}

.face {
  position: absolute;
  width: 50%;
  height: 55%;
  left: 25%;
  top: 25%;
}

.mouth {
  position: absolute;
  width: 100%;
  height: 75px;
  bottom: 0;
  background: var(--dark-blue);
  box-shadow: inset -20px -20px 10px var(--shadow-blue);
  border-radius: 10px 10px 150px 150px;
  border: 4px solid var(--dark-blue);
  overflow: hidden;
}

.tongue {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 25%;
  background: var(--red);
  border-radius: 50%;
}

.eye-group {
  position: absolute;
  display: flex;
  gap: 20px;
  width: 150px;
  height: 50px;
  top: 10px;
  left: 0;
}

.eye {
  background: var(--dark-blue);
  box-shadow: inset -10px -10px 5px var(--shadow-blue);
  width: 30px;
  height: 50px;
  border-radius: 50%;
}

.eye-left {
  position: absolute;
  left: 18px;
}

.eye-right {
  position: absolute;
  right: 18px;
}

.pupil {
  position: absolute;
  width: 8px;
  height: 18px;
  bottom: 10px;
  right: 8px;
  background: #ffffff;
  border-radius: 50%;
}

/* polaroid camera */

.polaroid-camera {
  background: var(--background-blue);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.polaroid-body {
  position: relative;
  background: #ffffff;
  width: 420px;
  height: 280px;
  border-radius: 40px;
}

.button {
  position: absolute;
  background: var(--red);
  width: 50px;
  height: 10px;
  top: -10px;
  left: 15%;
  border-radius: 16px 16px 0px 0px;
  animation: button 5s linear infinite;
}

.flash {
  position: absolute;
  background: #34495e;
  width: 100px;
  height: 30px;
  top: -30px;
  left: 160px;
  border-radius: 10px 10px 0px 0px;
}

.flash::after {
  content: "";
  position: absolute;
  width: 40%;
  height: 70%;
  background-color: var(--light-grey);
  border-radius: 5px;
  top: 15%;
  left: 30%;
}

.blinker {
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 15px;
  background-color: var(--dark-grey);
  top: 15%;
  left: 15%;
  animation: blinker 5s linear infinite;
}

.zoom {
  position: absolute;
  width: 50%;
  height: 75%;
  left: 25%;
  top: 12.5%;
  background: var(--dark-grey);
  border-radius: 50%;
  border: 5px solid var(--grey);
  overflow: hidden;
  z-index: 2;
  animation: zoom 5s linear infinite;
}

.zoom::before {
  content: "";
  position: absolute;
  width: 80%;
  height: 80%;
  top: 8%;
  left: 8%;
  border-radius: 50%;
  background: #2c3e50;
  border: 5px solid gray;
}

.zoom::after {
  content: "";
  position: absolute;
  width: 50%;
  height: 50%;
  top: 25%;
  left: 25%;
  border-radius: 50%;
  background: var(--dark-grey);
}

.reflections {
  position: absolute;
  background-color: #fff;
  opacity: 0.1;
  width: 100%;
  height: 100%;
  left: -35%;
  top: -35%;
  z-index: 2;
  transform: rotate(-45deg);
}

.reflections::after {
  content: "";
  position: absolute;
  background-color: var(--white);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  left: 60%;
  top: 110%;
  opacity: 0.8;
}

.stripes {
  position: absolute;
  height: 7px;
  width: 50%;
  right: 0;
  top: 40%;
  box-shadow: 0px 7px #0e99d9, 0px 14px #32db0e, 0px 21px #fffb06,
    0px 28px #fc9908, 0px 35px #ff3221, 0px 42px #fc87a8;
  z-index: 0.5;
  opacity: 0.6;
}

.flashlight {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.7);
  transition: all ease 0.2s;
  opacity: 0;
  animation: flashlight 5s linear infinite;
  z-index: 3;
}

/* Button animation */

@keyframes blinker {
  23%,
  27%,
  29%,
  33%,
  35%,
  40% {
    background-color: var(--dark-grey);
  }
  24%,
  26%,
  30%,
  32%,
  36%,
  38% {
    background-color: red;
  }
}

@keyframes zoom {
  30%,
  40% {
    transform: rotate(0deg);
  }
  35% {
    transform: rotate(20deg);
  }
}

@keyframes button {
  50%,
  60% {
    transform: translateY(-2px);
    overflow: hidden;
  }
  55% {
    transform: translateY(0px);
  }
}

@keyframes flashlight {
  65%,
  75% {
    opacity: 0;
  }
  66% {
    opacity: 1;
  }
}
